.sidebarStyle {
  border-radius: 5px;
  background-color: #404040;
  color: #ffffff;
  padding: 6px;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.mapContainer {
  height: 50vh;
  width: 100%;
  outline: none;
  border: none;
}

a.mapboxgl-ctrl-logo {
  opacity: 0;
  display: none;
}

.mapboxgl-canvas {
  outline: none;
  border: none;
  border-radius: 5px;
}

.mapboxgl-ctrl-bottom-right>.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  display: none;
}